*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background-color: rgb(6, 23, 117);
}

h1, p, span, div { color: #fff; }

pre { margin: 0; }

textarea:focus, input:focus{
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead th {
  font-weight: 400;
  background: #1b93e9;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

.react-responsive-modal-modal {
  background-color: rgb(8, 30, 151) !important;
  border-radius: 15px;
}